# SQL Data Analysis Workshop

 This workshop is designed to help you build practical SQL skills by analyzing real-world business data. 
     
The tasks are divided into 4 levels to gradually progress from basic data retrieval to advanced analysis. Each level focuses on specific SQL concepts and challenges, allowing you to practice query writing, data filtering, aggregations, joins, and subqueries.
- Level 1: Basic SQL queries (SELECT, WHERE, ORDER BY, COUNT).
- Level 2: Aggregations (SUM, AVG, GROUP BY) and basic joins.
- Level 3: Complex joins, subqueries, and multi-table analysis.
- Level 4: Advanced analytical tasks focused on complex queries, subqueries, and aggregations..

This structured approach ensures you build confidence and expertise in SQL, preparing you for real-world data analysis challenges. ðŸš€

---
## Setup the work environment

#### 1. Library's import

#### 2. Connecting to the Database

#### 3. Setup for SQL Magic


---
## Level 1: Beginner â€“ Basic Queries (using SQL Magic)

### Task 1: Retrieve all rows and columns from the customers table.

### Task 2: Retrieve customers who live in the city "New York".

### Task 3: Retrieve all products sorted by their price in descending order.

### Task 4: Find Orders by Status

#### Task 4.1: Retrieve all orders with status "Completed".

#### Task 4.1: Retrieve count of orders with status "Rejected".

### Task 5: Count how many customers exist in the customers table.

---
## Level 2: Intermediate â€“ Aggregations and Basic Joins
##### (Task 1,2,3 using Pandas read_sql and Task 4,5 using execute and fetchall() in mysql.connector)

### Task 1: Calculate the total revenue (sum of list_price * quantity) from the order_items table.

### Task 2: Calculate the average price of products in the products table.

### Task 3: Retrieve the number of orders placed by each customer.

### Task 4: Join Orders with Customers

#### Task 4.1: Retrieve customer names along with their order IDs.

#### Task 4.2: Retrieve Customer Names with Order IDs and Total Orders

### Task 5: Retrieve products with stock quantities less than 50.

---

## Level 3: Advanced â€“ Complex Joins and Subqueries
(using Pandas read_sql)

### Task 1: Retrieve the Top 5 Products with the Highest Total Sales Revenue

### Task 2: Find the Customers Who Placed the Most Orders in June, November 2018

### Task 3: List All Stores with Their Total Stock Quantities for All Products

### Task 4: Retrieve Staff Members Who Work at Stores Located in a Specific State
California (CA) , New York (NY) , Texas (TX)

### Task 5: Identify the Categories of Products with the Highest Total Revenue

---
## Level 4: Expert â€“ Advanced Analytical Queries
(using Pandas read_sql)

### Task 1: Find the Store with the Highest Total Revenue
Retrieve the store name and total revenue (sum of list_price * quantity) across all orders.

### Task 2: Find all products that have never been ordered.

### Task 3: Identify the Customers Who Placed the Fewest Orders
Retrieve customer names and their total order counts, ordered in ascending order of order count.

### Task 4: Analyze Monthly Revenue for the Last Year (Specific to 2017)

### Task 5: Find Products That Are Low in Stock Across All Stores
Identify products where the total stock quantity (across all stores) is less than 100.


---

## Level 5: Additional Advanced SQL
(using Pandas read_sql)

### Task 1: Aggregate Sales by City and State
Write a query to calculate the total sales, average order value, and maximum order value for customers in each city and state.

### Task 2: Find Top-Selling Products in 2018
Write a query to identify the products with the highest sales volume in the year 2018.

### Task 3: Calculate Month-over-Month Sales Growth
Write a query to calculate the month-over-month sales growth for the past years.